export(prepData,
       createPcAux,
       miWithPcAux,
       mergePcAux,
       makePredMatrix,
       inspect,
       getImpData,
       quarkW)

import(methods,
       mice,
       vcd,
       ICC,
       rlecuyer,
       parallel)

importFrom("stats", ".lm.fit", "cor", "cov", "prcomp", "sd", "runif")
importFrom("utils", "combn")
