export(prepData,
       createPcAux,
       miWithPcAux,
       mergePcAux,
       makePredMatrix,
       inspect,
       getImpData,
       pcAuxW)

import(methods)

importFrom("parallel",
           "makeCluster",
           "clusterEvalQ",
           "parLapply",
           "stopCluster")
importFrom("stats",
           ".lm.fit",
           "cor",
           "cov",
           "prcomp",
           "sd",
           "runif",
           "na.omit")
importFrom("rlecuyer",
           ".lec.SetPackageSeed",
           ".lec.GetStreams",
           ".lec.CreateStream",
           ".lec.CurrentStream")
